<a href="https://colab.research.google.com/github/alvas-education-foundation/Rajeshwari-gadagi/blob/master/Day_2_session_2_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 n=int(input("Enter no of records: "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d: "%(i))
  mark=int(input("Enter mark %d: "%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records: 2
Enter name 1: Mansa
Enter mark 1: 95
Enter name 2: Priya
Enter mark 2: 96
input:  {'Mansa': 95, 'Priya': 96}
output:  [('Priya', 96), ('Mansa', 95)]

In [2]:
 n=int(input("Enter no of records: "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d: "%(i))
  s=float(input("Enter salary %d: "%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records: 2
Enter name 1: Priya
Enter salary 1: 55000
Enter name 2: Mansa
Enter salary 2: 60000
input:  {'Priya': 55000.0, 'Mansa': 60000.0}
output:  [('Mansa', 60000.0), ('Priya', 55000.0)]

In [3]:
 n=int(input("Enter no of records: "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d: "%(i))
  s=float(input("Enter salary %d: "%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records: 2
Enter name 1: Mansa
Enter salary 1: 60000
Enter name 2: Priya
Enter salary 2: 55000
input:  {'Mansa': 60000.0, 'Priya': 55000.0}
output:  [('Priya', 55000.0), ('Mansa', 60000.0)]
sum:  115000.0
max:  60000.0
min:  55000.0
avg:  57500.0

In [4]:
 n=int(input("Enter no of records: "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d: "%(i))
  s=int(input("Enter salary %d: "%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter no of records: 2
Enter name 1: Mansa
Enter salary 1: 60000
Enter name 2: Priya
Enter salary 2: 55000
input:  {'Mansa': 60000, 'Priya': 55000}

In [5]:
 def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight